.venv/
venv/
env/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
dist/
build/
.env
.DS_Store
.idea/
.vscode/
tello_env/
venv-win/
Langostino/
.deploy_keys/
.repo-git/
